/* direct tags */
body {
	background-color: #FFF0E3;
}

/* fonty things */
.font-roboto {
	font-family: 'Roboto';
}

/* general color stuff */
.chan-disabled {
	opacity: 0.5;
}

/* cardy things */
.card-chan {
	border-color: #800;
	border-radius: 2px;
	color: #800;
}
.avatar {
	max-width: 100%;
}
.card-header:first-child {
	border-radius: 0!important;
}
.card-footer:last-child {
	border-radius: 0!important;
}

/* posty things */
.post-subject {

}

/* formy things */
.form-control, .input-group-text {
	border-radius: 2px;
}

/* flashy animations */
.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	transition: opacity 0.2s;
}
.fade-leave-active {
	transition: opacity 0.2s;
	opacity: 0;
}
.font-error {
	color: #800;
	animation: rainbow 2s infinite;
}
.font-swerve {
	animation: swerve 5s infinite;
}

/* keyframes */
@keyframes rainbow {
	0%{
		color: red;
	}
	14%{
		color: orange;
	}
	28%{
		color: yellow;
	}
	42%{
		color: green;
	}
	56%{
		color: blue;
	}
	70%{
		color: indigo;
	}
	84%{
		color: violet;
	}
}
@keyframes swerve {
	0%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(2deg);
	}
	75%{
		transform: rotate(-2deg);
	}
	100%{
		transform: rotate(0);
	}
}