/* direct tags */
body {
	background-color: #FFF0E3;
}

/* general color stuff */
.chan-disabled {
	opacity: 0.5;
}

/* cardy things */
.card-chan {
	border-color: #800;
	border-radius: 2px;
	color: #800;
}
.avatar {
	max-width: 100%;
}
.card-header:first-child {
	border-radius: 0!important;
}
.card-footer:last-child {
	border-radius: 0!important;
}

/* posty things */
.post-subject {

}

/* flashy animations */
.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	transition: opacity 0.2s;
}
.fade-leave-active {
	transition: opacity 0.2s;
	opacity: 0;
}