/* general color stuff */
.bg-chan {
	background-color: #ccc!important;
}
.bg-chan-regular {
	background-color: #eee;
}
.bg-chan-light {
	background-color: #ddd;
}
.bg-chan-red {
	background-color: #f30;
}
.font-chan-red, a.quotelink {
	color: #f30;
}
.font-chan-imply, .quote {
	color: #5baa42;
}
.font-chan-ok {
	color: #009245;
}
.font-chan-normal {
	color: #212529;
}
.border-chan-light {
	border-color: #fff7eb;
}
.border-chan-red {
	border-color: #f30!important;
}

/* typo related */
.text-chan {
	color: #f30;
	text-shadow: #FFF0E3 1px 1px 0, #FFDAB9 -1px -1px 0;
	font-family: 'Roboto';
}
.text-chan-brand {
	font-size: 3rem;
	line-height: 3rem;	
}
.text-chan-brand:hover {
	color: #f30;
	text-decoration: none;
}
.text-mono {
	font-family: 'Overpass Mono', monospace;
}
.text-overflow {
	overflow: hidden;
	word-wrap: normal;
	text-overflow: ellipsis;
}
.list-chan a {
	color: #212529;
	display: block;
}
.list-chan a:hover {
	text-decoration: none;
	color: #f30;
}
.list-chan a.router-link-active {
	background-color: #f30;
	color: white;
}
.post-name {
	color: #004a99!important;
}

/* clicky things */
.btn {
	border-radius: 2px;
}
.btn a {
	color: #f30;
}
.btn:hover a {
	color: white;
	text-decoration: none;
}
.btn-outline-chan {
	border-color: #009245;
	color: #009245!important;
	background-color: rgba(0,0,0,0);
}
.btn-outline-chan:hover {
	background-color: #009245;
	color: white!important;
}
.btn-outline-chan-red {
	border-color: #f30;
	color: #f30!important;
	background-color: transparent;
}
.btn-outline-chan-red:hover {
	background-color: #f30;
	color: white!important;
}
.btn-chan {
	color: white!important;
	background-color: #009245;
}
.btn-chan:hover {
	background-color: #006837;
}
a.btn-chan:hover {
	color:white;
}
button.router-link-active {
	background-color: #f30;
	color: white!important;
}

/* cardy things */
.card-chan {
	border-color: #ccc;
	border-radius: 2px;
	color: #f30;
}
